.header{
	background-color:white;
}

#slideswrapper h3{
	color:white;
	font-size:40px;
}
#slideswrapper p{
	color:white;
	font-size:40px;
}


@media screen and (max-width: 700px) { 
.socialmedia{ 
margin-left:25px;
}
#h1{
	font-family: 'Source Serif Pro', serif;
     font-family: 'Yanone Kaffeesatz', sans-serif;
	color:green;
	font-weight:600;
	font-size:4vh;
	text-align:center;
}

#slideswrapper h3{
	color:white;
	font-size:20px;
	font-weight:600;
}
#slideswrapper p{
	color:white;
	font-size:15px;
	font-weight:400;
}

}

@media screen and (max-width: 400px) { 
.socialmedia{ 
margin-left:18px;
}
#h1{
	font-family: 'Source Serif Pro', serif;
     font-family: 'Yanone Kaffeesatz', sans-serif;
	color:green;
	font-weight:400;
	font-size:3vh;
	text-align:center;
}

#slideswrapper h3{
	color:white;
	font-size:12px;
	font-weight:400;
}
#slideswrapper p{
	color:white;
	font-size:8px;
	font-weight:200;
}
.socialmedia img{
	width:26px;
}


}


@media screen and (min-width: 700px) {
.logo{
	height:160px;
}
#h1{
	font-family: 'Source Serif Pro', serif;
     font-family: 'Yanone Kaffeesatz', sans-serif;
	color:green;
	font-weight:600;
	font-size:5vh;
	text-align:center;
}
.socialmedia{ 
padding:5px;
}
.socialmedia img{
	height:30px;
	width:28px;
	margin-top:12px;
	margin-left:0px;
	float:left;
}

#slideswrapper h3{
	color:white;
	font-size:60px;
	font-weight:900;
}
#slideswrapper p{
	color:white;
	font-size:45px;
	font-weight:700;
}

 }
